<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.consumeLoan.dao.MerchantDao">
	<insert id="addMerchant" parameterType="com.lanxi.consumeLoan.entity.Merchant">
		insert into merchant
		(merchant_id,merchant_name,merchant_type,merchant_address,is_assurance,deposite_amount,deposite_rate,deposite_balance,is_shared,shared_rate,brokerage_rate,brokerage_amount,brokerage_less,apply_amount,apply_money_amount,loan_amount,loan_money_amount,break_amount,break_money_amount,partner_time,stop_time,state,customer_manager_phone,customer_manager_name,provide_deposit)
		values
		(
			#{merchantId},#{merchantName},#{merchantType},#{merchantAddress},#{isAssurance},#{depositeAmount},#{depositeRate},#{depositeBalance},#{isShared},#{sharedRate},#{brokerageRate},#{brokerageAmount},#{brokerageLess},#{applyAmount},#{applyMoneyAmount},#{loanAmount},#{loanMoneyAmount},#{breakAmount},#{breakMoneyAmount},#{partnerTime},#{stopTime},#{state},#{customerManagerPhone},#{customerManagerName},#{provideDeposit}
		)
	</insert>
	<delete id="deleteMerchantByClass" parameterType="com.lanxi.consumeLoan.entity.Merchant">
		delete from merchant
		<where>
			<if test="merchant.merchantId != null"> and merchant_id = #{merchant.merchantId}  </if>
			<if test="merchant.merchantName != null"> and merchant_name = #{merchant.merchantName}  </if>
			<if test="merchant.merchantType != null"> and merchant_type = #{merchant.merchantType}  </if>
			<if test="merchant.merchantAddress != null"> and merchant_address = #{merchant.merchantAddress}  </if>
			<if test="merchant.isAssurance != null"> and is_assurance = #{merchant.isAssurance}  </if>
			<if test="merchant.depositeAmount != null"> and deposite_amount = #{merchant.depositeAmount}  </if>
			<if test="merchant.depositeRate != null"> and deposite_rate = #{merchant.depositeRate}  </if>
			<if test="merchant.depositeBalance != null"> and deposite_balance = #{merchant.depositeBalance}  </if>
			<if test="merchant.isShared != null"> and is_shared = #{merchant.isShared}  </if>
			<if test="merchant.sharedRate != null"> and shared_rate = #{merchant.sharedRate}  </if>
			<if test="merchant.brokerageRate != null"> and brokerage_rate = #{merchant.brokerageRate}  </if>
			<if test="merchant.brokerageAmount != null"> and brokerage_amount = #{merchant.brokerageAmount}  </if>
			<if test="merchant.brokerageLess != null"> and brokerage_less = #{merchant.brokerageLess}  </if>
			<if test="merchant.applyAmount != null"> and apply_amount = #{merchant.applyAmount}  </if>
			<if test="merchant.applyMoneyAmount != null"> and apply_money_amount = #{merchant.applyMoneyAmount}  </if>
			<if test="merchant.loanAmount != null"> and loan_amount = #{merchant.loanAmount}  </if>
			<if test="merchant.loanMoneyAmount != null"> and loan_money_amount = #{merchant.loanMoneyAmount}  </if>
			<if test="merchant.breakAmount != null"> and break_amount = #{merchant.breakAmount}  </if>
			<if test="merchant.breakMoneyAmount != null"> and break_money_amount = #{merchant.breakMoneyAmount}  </if>
			<if test="merchant.partnerTime != null"> and partner_time = #{merchant.partnerTime}  </if>
			<if test="merchant.stopTime != null"> and stop_time = #{merchant.stopTime}  </if>
			<if test="merchant.state != null"> and state = #{merchant.state}  </if>
			<if test="merchant.customerManagerPhone != null"> and customer_manager_phone = #{merchant.customerManagerPhone}  </if>
			<if test="merchant.customerManagerName != null"> and customer_manager_name = #{merchant.customerManagerName}  </if>
			<if test="merchant.provideDeposit != null"> and provide_deposit = #{merchant.provideDeposit}  </if>
		</where>
	</delete>
	<delete id="deleteMerchantByUniqueIndexOnMerchantId">
		delete from merchant
		<where>
			AND merchant_id = #{merchantId}
		</where>
	</delete>
	<delete id="deleteMerchantByUniqueIndexOnMerchantNameAndMerchantAddressAndMerchantType">
		delete from merchant
		<where>
			AND merchant_name = #{merchantName}
			AND merchant_address = #{merchantAddress}
			AND merchant_type = #{merchantType}
		</where>
	</delete>
	<update id="updateMerchantByClass">
		update merchant
		<set>
			merchant_id=#{merchant.merchantId},
			merchant_name=#{merchant.merchantName},
			merchant_type=#{merchant.merchantType},
			merchant_address=#{merchant.merchantAddress},
			is_assurance=#{merchant.isAssurance},
			deposite_amount=#{merchant.depositeAmount},
			deposite_rate=#{merchant.depositeRate},
			deposite_balance=#{merchant.depositeBalance},
			is_shared=#{merchant.isShared},
			shared_rate=#{merchant.sharedRate},
			brokerage_rate=#{merchant.brokerageRate},
			brokerage_amount=#{merchant.brokerageAmount},
			brokerage_less=#{merchant.brokerageLess},
			apply_amount=#{merchant.applyAmount},
			apply_money_amount=#{merchant.applyMoneyAmount},
			loan_amount=#{merchant.loanAmount},
			loan_money_amount=#{merchant.loanMoneyAmount},
			break_amount=#{merchant.breakAmount},
			break_money_amount=#{merchant.breakMoneyAmount},
			partner_time=#{merchant.partnerTime},
			stop_time=#{merchant.stopTime},
			state=#{merchant.state},
			customer_manager_phone=#{merchant.customerManagerPhone},
			customer_manager_name=#{merchant.customerManagerName},
			provide_deposit=#{merchant.provideDeposit}
		</set>
		<where>
			<if test="param.merchantId != null"> AND merchant_id = #{param.merchantId}</if>
			<if test="param.merchantName != null"> AND merchant_name = #{param.merchantName}</if>
			<if test="param.merchantType != null"> AND merchant_type = #{param.merchantType}</if>
			<if test="param.merchantAddress != null"> AND merchant_address = #{param.merchantAddress}</if>
			<if test="param.isAssurance != null"> AND is_assurance = #{param.isAssurance}</if>
			<if test="param.depositeAmount != null"> AND deposite_amount = #{param.depositeAmount}</if>
			<if test="param.depositeRate != null"> AND deposite_rate = #{param.depositeRate}</if>
			<if test="param.depositeBalance != null"> AND deposite_balance = #{param.depositeBalance}</if>
			<if test="param.isShared != null"> AND is_shared = #{param.isShared}</if>
			<if test="param.sharedRate != null"> AND shared_rate = #{param.sharedRate}</if>
			<if test="param.brokerageRate != null"> AND brokerage_rate = #{param.brokerageRate}</if>
			<if test="param.brokerageAmount != null"> AND brokerage_amount = #{param.brokerageAmount}</if>
			<if test="param.brokerageLess != null"> AND brokerage_less = #{param.brokerageLess}</if>
			<if test="param.applyAmount != null"> AND apply_amount = #{param.applyAmount}</if>
			<if test="param.applyMoneyAmount != null"> AND apply_money_amount = #{param.applyMoneyAmount}</if>
			<if test="param.loanAmount != null"> AND loan_amount = #{param.loanAmount}</if>
			<if test="param.loanMoneyAmount != null"> AND loan_money_amount = #{param.loanMoneyAmount}</if>
			<if test="param.breakAmount != null"> AND break_amount = #{param.breakAmount}</if>
			<if test="param.breakMoneyAmount != null"> AND break_money_amount = #{param.breakMoneyAmount}</if>
			<if test="param.partnerTime != null"> AND partner_time = #{param.partnerTime}</if>
			<if test="param.stopTime != null"> AND stop_time = #{param.stopTime}</if>
			<if test="param.state != null"> AND state = #{param.state}</if>
			<if test="param.customerManagerPhone != null"> AND customer_manager_phone = #{param.customerManagerPhone}</if>
			<if test="param.customerManagerName != null"> AND customer_manager_name = #{param.customerManagerName}</if>
			<if test="param.provideDeposit != null"> AND provide_deposit = #{param.provideDeposit}</if>
		</where>
	</update>
	<update id="updateMerchantByUniqueIndexOnMerchantId">
		update merchant
		<set>
			merchant_id=#{merchant.merchantId},
			merchant_name=#{merchant.merchantName},
			merchant_type=#{merchant.merchantType},
			merchant_address=#{merchant.merchantAddress},
			is_assurance=#{merchant.isAssurance},
			deposite_amount=#{merchant.depositeAmount},
			deposite_rate=#{merchant.depositeRate},
			deposite_balance=#{merchant.depositeBalance},
			is_shared=#{merchant.isShared},
			shared_rate=#{merchant.sharedRate},
			brokerage_rate=#{merchant.brokerageRate},
			brokerage_amount=#{merchant.brokerageAmount},
			brokerage_less=#{merchant.brokerageLess},
			apply_amount=#{merchant.applyAmount},
			apply_money_amount=#{merchant.applyMoneyAmount},
			loan_amount=#{merchant.loanAmount},
			loan_money_amount=#{merchant.loanMoneyAmount},
			break_amount=#{merchant.breakAmount},
			break_money_amount=#{merchant.breakMoneyAmount},
			partner_time=#{merchant.partnerTime},
			stop_time=#{merchant.stopTime},
			state=#{merchant.state},
			customer_manager_phone=#{merchant.customerManagerPhone},
			customer_manager_name=#{merchant.customerManagerName},
			provide_deposit=#{merchant.provideDeposit}
		</set>
		<where>
			AND merchant_id=#{merchantId}
		</where>
	</update>
	<update id="updateMerchantByUniqueIndexOnMerchantNameAndMerchantAddressAndMerchantType">
		update merchant
		<set>
			merchant_id=#{merchant.merchantId},
			merchant_name=#{merchant.merchantName},
			merchant_type=#{merchant.merchantType},
			merchant_address=#{merchant.merchantAddress},
			is_assurance=#{merchant.isAssurance},
			deposite_amount=#{merchant.depositeAmount},
			deposite_rate=#{merchant.depositeRate},
			deposite_balance=#{merchant.depositeBalance},
			is_shared=#{merchant.isShared},
			shared_rate=#{merchant.sharedRate},
			brokerage_rate=#{merchant.brokerageRate},
			brokerage_amount=#{merchant.brokerageAmount},
			brokerage_less=#{merchant.brokerageLess},
			apply_amount=#{merchant.applyAmount},
			apply_money_amount=#{merchant.applyMoneyAmount},
			loan_amount=#{merchant.loanAmount},
			loan_money_amount=#{merchant.loanMoneyAmount},
			break_amount=#{merchant.breakAmount},
			break_money_amount=#{merchant.breakMoneyAmount},
			partner_time=#{merchant.partnerTime},
			stop_time=#{merchant.stopTime},
			state=#{merchant.state},
			customer_manager_phone=#{merchant.customerManagerPhone},
			customer_manager_name=#{merchant.customerManagerName},
			provide_deposit=#{merchant.provideDeposit}
		</set>
		<where>
			AND merchant_name=#{merchantName}
			AND merchant_address=#{merchantAddress}
			AND merchant_type=#{merchantType}
		</where>
	</update>
	<select id="selectMerchantByClass" resultMap="merchantMap"  resultType="com.lanxi.consumeLoan.entity.Merchant" parameterType="com.lanxi.consumeLoan.entity.Merchant">
		select
			merchant_id,merchant_name,merchant_type,merchant_address,is_assurance,deposite_amount,deposite_rate,deposite_balance,is_shared,shared_rate,brokerage_rate,brokerage_amount,brokerage_less,apply_amount,apply_money_amount,loan_amount,loan_money_amount,break_amount,break_money_amount,partner_time,stop_time,state,customer_manager_phone,customer_manager_name,provide_deposit
		from merchant
		<where>
			<if test="merchant.merchantId != null"> AND merchant_id = #{merchant.merchantId}</if>
			<if test="merchant.merchantName != null"> AND merchant_name = #{merchant.merchantName}</if>
			<if test="merchant.merchantType != null"> AND merchant_type = #{merchant.merchantType}</if>
			<if test="merchant.merchantAddress != null"> AND merchant_address = #{merchant.merchantAddress}</if>
			<if test="merchant.isAssurance != null"> AND is_assurance = #{merchant.isAssurance}</if>
			<if test="merchant.depositeAmount != null"> AND deposite_amount = #{merchant.depositeAmount}</if>
			<if test="merchant.depositeRate != null"> AND deposite_rate = #{merchant.depositeRate}</if>
			<if test="merchant.depositeBalance != null"> AND deposite_balance = #{merchant.depositeBalance}</if>
			<if test="merchant.isShared != null"> AND is_shared = #{merchant.isShared}</if>
			<if test="merchant.sharedRate != null"> AND shared_rate = #{merchant.sharedRate}</if>
			<if test="merchant.brokerageRate != null"> AND brokerage_rate = #{merchant.brokerageRate}</if>
			<if test="merchant.brokerageAmount != null"> AND brokerage_amount = #{merchant.brokerageAmount}</if>
			<if test="merchant.brokerageLess != null"> AND brokerage_less = #{merchant.brokerageLess}</if>
			<if test="merchant.applyAmount != null"> AND apply_amount = #{merchant.applyAmount}</if>
			<if test="merchant.applyMoneyAmount != null"> AND apply_money_amount = #{merchant.applyMoneyAmount}</if>
			<if test="merchant.loanAmount != null"> AND loan_amount = #{merchant.loanAmount}</if>
			<if test="merchant.loanMoneyAmount != null"> AND loan_money_amount = #{merchant.loanMoneyAmount}</if>
			<if test="merchant.breakAmount != null"> AND break_amount = #{merchant.breakAmount}</if>
			<if test="merchant.breakMoneyAmount != null"> AND break_money_amount = #{merchant.breakMoneyAmount}</if>
			<if test="merchant.partnerTime != null"> AND partner_time = #{merchant.partnerTime}</if>
			<if test="merchant.stopTime != null"> AND stop_time = #{merchant.stopTime}</if>
			<if test="merchant.state != null"> AND state = #{merchant.state}</if>
			<if test="merchant.customerManagerPhone != null"> AND customer_manager_phone = #{merchant.customerManagerPhone}</if>
			<if test="merchant.customerManagerName != null"> AND customer_manager_name = #{merchant.customerManagerName}</if>
			<if test="merchant.provideDeposit != null"> AND provide_deposit = #{merchant.provideDeposit}</if>
		</where>
	</select>
	<select id="selectMerchantByUniqueIndexOnMerchantId" resultType="com.lanxi.consumeLoan.entity.Merchant" resultMap="merchantMap" >
		select
			merchant_id,merchant_name,merchant_type,merchant_address,is_assurance,deposite_amount,deposite_rate,deposite_balance,is_shared,shared_rate,brokerage_rate,brokerage_amount,brokerage_less,apply_amount,apply_money_amount,loan_amount,loan_money_amount,break_amount,break_money_amount,partner_time,stop_time,state,customer_manager_phone,customer_manager_name,provide_deposit
		from merchant
		<where>
			AND merchant_id=#{merchantId}
		</where>
	</select>
	<select id="selectMerchantByUniqueIndexOnMerchantNameAndMerchantAddressAndMerchantType" resultType="com.lanxi.consumeLoan.entity.Merchant" resultMap="merchantMap" >
		select
			merchant_id,merchant_name,merchant_type,merchant_address,is_assurance,deposite_amount,deposite_rate,deposite_balance,is_shared,shared_rate,brokerage_rate,brokerage_amount,brokerage_less,apply_amount,apply_money_amount,loan_amount,loan_money_amount,break_amount,break_money_amount,partner_time,stop_time,state,customer_manager_phone,customer_manager_name,provide_deposit
		from merchant
		<where>
			AND merchant_name=#{merchantName}
			AND merchant_address=#{merchantAddress}
			AND merchant_type=#{merchantType}
		</where>
	</select>
	
		<select id="selectMerchantByParm" resultMap="merchantMap" parameterType="map">
		select
			merchant_id,merchant_name,merchant_type,merchant_address,is_assurance,deposite_amount,deposite_rate,deposite_balance,is_shared,shared_rate,brokerage_rate,brokerage_amount,brokerage_less,apply_amount,apply_money_amount,loan_amount,loan_money_amount,break_amount,break_money_amount,partner_time,stop_time,state,customer_manager_phone,customer_manager_name,provide_deposit
		from merchant
		<where>
<!-- 				customer_manager_phone != null or customer_manager_phone !='' -->
				<if test="state != null"> AND state = #{state}</if>
				<if test="merchantName != null"> AND merchant_name = #{merchantName}</if>
				<if test="merchantType != null"> AND merchant_type = #{merchantType}</if>
				<if test="isAssurance != null"> AND is_assurance = #{isAssurance}</if>
				<if test="startTime != null"> AND partner_time &gt;= #{startTime}</if>
				<if test="endTime != null"> AND partner_time &lt;= #{endTime}</if>
				<if test="customerManagerPhone != null"> AND customer_manager_phone = #{customerManagerPhone}</if>
		</where>
	</select>
	
		<select id="selectAdminMerchantByParm" resultMap="merchantMap" parameterType="map">
		select
			merchant_id,merchant_name,merchant_type,merchant_address,is_assurance,deposite_amount,deposite_rate,deposite_balance,is_shared,shared_rate,brokerage_rate,brokerage_amount,brokerage_less,apply_amount,apply_money_amount,loan_amount,loan_money_amount,break_amount,break_money_amount,partner_time,stop_time,state,customer_manager_phone,customer_manager_name,provide_deposit
		from merchant
		<where>
				<if test="state != null"> AND state = #{state}</if>
				<if test="merchantName != null"> AND merchant_name = #{merchantName}</if>
				<if test="merchantType != null"> AND merchant_type = #{merchantType}</if>
				<if test="isAssurance != null"> AND is_assurance = #{isAssurance}</if>
				<if test="startTime != null"> AND partner_time &gt;= #{startTime}</if>
				<if test="endTime != null"> AND partner_time &lt;= #{endTime}</if>
				<if test="customerManagerPhone != null"> AND customer_manager_phone = #{customerManagerPhone}</if>
		</where>
	</select>
	
	
	
		<select id="selectMerchantByPage" resultMap="merchantMap"   parameterType="map">
		select
			merchant_id,merchant_name,merchant_type,merchant_address,is_assurance,deposite_amount,deposite_rate,deposite_balance,is_shared,shared_rate,brokerage_rate,brokerage_amount,brokerage_less,apply_amount,apply_money_amount,loan_amount,loan_money_amount,break_amount,break_money_amount,partner_time,stop_time,state,customer_manager_phone,customer_manager_name,provide_deposit
		from merchant
		<where>
			<if test="merchantId != null"> AND merchant_id = #{merchantId}</if>
			<if test="merchantName != null"> AND merchant_name = #{merchantName}</if>
			<if test="merchantType != null"> AND merchant_type = #{merchantType}</if>
			<if test="merchantAddress != null"> AND merchant_address = #{merchantAddress}</if>
			<if test="isAssurance != null"> AND is_assurance = #{isAssurance}</if>
			<if test="depositeAmount != null"> AND deposite_amount = #{depositeAmount}</if>
			<if test="depositeRate != null"> AND deposite_rate = #{depositeRate}</if>
			<if test="depositeBalance != null"> AND deposite_balance = #{depositeBalance}</if>
			<if test="isShared != null"> AND is_shared = #{isShared}</if>
			<if test="sharedRate != null"> AND shared_rate = #{sharedRate}</if>
			<if test="brokerageRate != null"> AND brokerage_rate = #{brokerageRate}</if>
			<if test="brokerageAmount != null"> AND brokerage_amount = #{brokerageAmount}</if>
			<if test="brokerageLess != null"> AND brokerage_less = #{brokerageLess}</if>
			<if test="applyAmount != null"> AND apply_amount = #{applyAmount}</if>
			<if test="applyMoneyAmount != null"> AND apply_money_amount = #{applyMoneyAmount}</if>
			<if test="loanAmount != null"> AND loan_amount = #{loanAmount}</if>
			<if test="loanMoneyAmount != null"> AND loan_money_amount = #{loanMoneyAmount}</if>
			<if test="breakAmount != null"> AND break_amount = #{breakAmount}</if>
			<if test="breakMoneyAmount != null"> AND break_money_amount = #{breakMoneyAmount}</if>
			<if test="partnerTime != null"> AND partner_time = #{partnerTime}</if>
			<if test="stopTime != null"> AND stop_time = #{stopTime}</if>
			<if test="state != null"> AND state = #{state}</if>
			<if test="customerManagerPhone != null"> AND customer_manager_phone = #{customerManagerPhone}</if>
			<if test="customerManagerName != null"> AND customer_manager_name = #{customerManagerName}</if>
			<if test="startTime != null"> AND partner_time &gt;= #{startTime}</if>
			<if test="endTime != null"> AND partner_time &lt;= #{endTime}</if>
		</where>
		limit #{start},#{size};
	</select>
	<resultMap id="merchantMap" type="com.lanxi.consumeLoan.entity.Merchant">
		<result property="merchantId" 			column="merchant_id"></result>
		<result property="merchantName" 			column="merchant_name"></result>
		<result property="merchantType" 			column="merchant_type"></result>
		<result property="merchantAddress" 			column="merchant_address"></result>
		<result property="isAssurance" 			column="is_assurance"></result>
		<result property="depositeAmount" 			column="deposite_amount"></result>
		<result property="depositeRate" 			column="deposite_rate"></result>
		<result property="depositeBalance" 			column="deposite_balance"></result>
		<result property="isShared" 			column="is_shared"></result>
		<result property="sharedRate" 			column="shared_rate"></result>
		<result property="brokerageRate" 			column="brokerage_rate"></result>
		<result property="brokerageAmount" 			column="brokerage_amount"></result>
		<result property="brokerageLess" 			column="brokerage_less"></result>
		<result property="applyAmount" 			column="apply_amount"></result>
		<result property="applyMoneyAmount" 			column="apply_money_amount"></result>
		<result property="loanAmount" 			column="loan_amount"></result>
		<result property="loanMoneyAmount" 			column="loan_money_amount"></result>
		<result property="breakAmount" 			column="break_amount"></result>
		<result property="breakMoneyAmount" 			column="break_money_amount"></result>
		<result property="partnerTime" 			column="partner_time"></result>
		<result property="stopTime" 			column="stop_time"></result>
		<result property="state" 			column="state"></result>
		<result property="customerManagerPhone" 			column="customer_manager_phone"></result>
		<result property="customerManagerName" 			column="customer_manager_name"></result>
		<result property="provideDeposit" 			column="provide_deposit"></result>
	</resultMap>
</mapper>
