<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.consumeLoan.dao.RoleDao">
	<insert id="addRole" parameterType="com.lanxi.consumeLoan.entity.Role">
		insert into role
		(role_name,authority)
		values
		(
			#{roleName},#{authority}
		)
	</insert>
	<delete id="deleteRoleByClass" parameterType="com.lanxi.consumeLoan.entity.Role">
		delete from role
		<where>
			<if test="role.roleName != null"> and role_name = #{role.roleName}  </if>
			<if test="role.authority != null"> and authority = #{role.authority}  </if>
		</where>
	</delete>
	<delete id="deleteRoleByUniqueIndexOnRoleName">
		delete from role
		<where>
			AND role_name = #{roleName}
		</where>
	</delete>
	<update id="updateRoleByClass">
		update role
		<set>
			role_name=#{role.roleName},
			authority=#{role.authority}
		</set>
		<where>
			<if test="param.roleName != null"> AND role_name = #{param.roleName}</if>
			<if test="param.authority != null"> AND authority = #{param.authority}</if>
		</where>
	</update>
	<update id="updateRoleByUniqueIndexOnRoleName">
		update role
		<set>
			role_name=#{role.roleName},
			authority=#{role.authority}
		</set>
		<where>
			AND role_name=#{roleName}
		</where>
	</update>
	<select id="selectRoleByClass" resultMap="roleMap"  resultType="com.lanxi.consumeLoan.entity.Role" parameterType="com.lanxi.consumeLoan.entity.Role">
		select
			role_name,authority
		from role
		<where>
			<if test="role.roleName != null"> AND role_name = #{role.roleName}</if>
			<if test="role.authority != null"> AND authority = #{role.authority}</if>
		</where>
	</select>
	<select id="selectRoleByUniqueIndexOnRoleName" resultType="com.lanxi.consumeLoan.entity.Role" resultMap="roleMap" >
		select
			role_name,authority
		from role
		<where>
			AND role_name=#{roleName}
		</where>
	</select>
	<resultMap id="roleMap" type="com.lanxi.consumeLoan.entity.Role">
		<result property="roleName" 			column="role_name"></result>
		<result property="authority" 			column="authority"></result>
	</resultMap>
</mapper>
