<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.consumeLoan.dao.SystemAccountDao">
	<insert id="addSystemAccount" parameterType="com.lanxi.consumeLoan.entity.SystemAccount">
		insert into system_account
		(account_id,brokerage,provisions_of_risk,service_charge,brokerage_rate,provisions_of_risk_rate,service_charge_rate,provisions_of_risk_max)
		values
		(
			#{accountId},#{brokerage},#{provisionsOfRisk},#{serviceCharge},#{brokerageRate},#{provisionsOfRiskRate},#{serviceChargeRate},#{provisionsOfRiskMax}
		)
	</insert>
	<delete id="deleteSystemAccountByClass" parameterType="com.lanxi.consumeLoan.entity.SystemAccount">
		delete from system_account
		<where>
			<if test="systemAccount.accountId != null"> and account_id = #{systemAccount.accountId}  </if>
			<if test="systemAccount.brokerage != null"> and brokerage = #{systemAccount.brokerage}  </if>
			<if test="systemAccount.provisionsOfRisk != null"> and provisions_of_risk = #{systemAccount.provisionsOfRisk}  </if>
			<if test="systemAccount.serviceCharge != null"> and service_charge = #{systemAccount.serviceCharge}  </if>
			<if test="systemAccount.brokerageRate != null"> and brokerage_rate = #{systemAccount.brokerageRate}  </if>
			<if test="systemAccount.provisionsOfRiskRate != null"> and provisions_of_risk_rate = #{systemAccount.provisionsOfRiskRate}  </if>
			<if test="systemAccount.serviceChargeRate != null"> and service_charge_rate = #{systemAccount.serviceChargeRate}  </if>
			<if test="systemAccount.provisionsOfRiskMax != null"> and provisions_of_risk_max = #{systemAccount.provisionsOfRiskMax}  </if>
		</where>
	</delete>
	<delete id="deleteSystemAccountByUniqueIndexOnAccountId">
		delete from system_account
		<where>
			AND account_id = #{accountId}
		</where>
	</delete>
	<update id="updateSystemAccountByClass">
		update system_account
		<set>
			account_id=#{systemAccount.accountId},
			brokerage=#{systemAccount.brokerage},
			provisions_of_risk=#{systemAccount.provisionsOfRisk},
			service_charge=#{systemAccount.serviceCharge},
			brokerage_rate=#{systemAccount.brokerageRate},
			provisions_of_risk_rate=#{systemAccount.provisionsOfRiskRate},
			service_charge_rate=#{systemAccount.serviceChargeRate},
			provisions_of_risk_max=#{systemAccount.provisionsOfRiskMax}
		</set>
		<where>
			<if test="param.accountId != null"> AND account_id = #{param.accountId}</if>
			<if test="param.brokerage != null"> AND brokerage = #{param.brokerage}</if>
			<if test="param.provisionsOfRisk != null"> AND provisions_of_risk = #{param.provisionsOfRisk}</if>
			<if test="param.serviceCharge != null"> AND service_charge = #{param.serviceCharge}</if>
			<if test="param.brokerageRate != null"> AND brokerage_rate = #{param.brokerageRate}</if>
			<if test="param.provisionsOfRiskRate != null"> AND provisions_of_risk_rate = #{param.provisionsOfRiskRate}</if>
			<if test="param.serviceChargeRate != null"> AND service_charge_rate = #{param.serviceChargeRate}</if>
			<if test="param.provisionsOfRiskMax != null"> AND provisions_of_risk_max = #{param.provisionsOfRiskMax}</if>
		</where>
	</update>
	<update id="updateSystemAccountByUniqueIndexOnAccountId">
		update system_account
		<set>
			account_id=#{systemAccount.accountId},
			brokerage=#{systemAccount.brokerage},
			provisions_of_risk=#{systemAccount.provisionsOfRisk},
			service_charge=#{systemAccount.serviceCharge},
			brokerage_rate=#{systemAccount.brokerageRate},
			provisions_of_risk_rate=#{systemAccount.provisionsOfRiskRate},
			service_charge_rate=#{systemAccount.serviceChargeRate},
			provisions_of_risk_max=#{systemAccount.provisionsOfRiskMax}
		</set>
		<where>
			AND account_id=#{accountId}
		</where>
	</update>
	<select id="selectSystemAccountByClass" resultMap="systemAccountMap"  resultType="com.lanxi.consumeLoan.entity.SystemAccount" parameterType="com.lanxi.consumeLoan.entity.SystemAccount">
		select
			account_id,brokerage,provisions_of_risk,service_charge,brokerage_rate,provisions_of_risk_rate,service_charge_rate,provisions_of_risk_max
		from system_account
		<where>
			<if test="systemAccount.accountId != null"> AND account_id = #{systemAccount.accountId}</if>
			<if test="systemAccount.brokerage != null"> AND brokerage = #{systemAccount.brokerage}</if>
			<if test="systemAccount.provisionsOfRisk != null"> AND provisions_of_risk = #{systemAccount.provisionsOfRisk}</if>
			<if test="systemAccount.serviceCharge != null"> AND service_charge = #{systemAccount.serviceCharge}</if>
			<if test="systemAccount.brokerageRate != null"> AND brokerage_rate = #{systemAccount.brokerageRate}</if>
			<if test="systemAccount.provisionsOfRiskRate != null"> AND provisions_of_risk_rate = #{systemAccount.provisionsOfRiskRate}</if>
			<if test="systemAccount.serviceChargeRate != null"> AND service_charge_rate = #{systemAccount.serviceChargeRate}</if>
			<if test="systemAccount.provisionsOfRiskMax != null"> AND provisions_of_risk_max = #{systemAccount.provisionsOfRiskMax}</if>
		</where>
	</select>
	<select id="selectSystemAccountByUniqueIndexOnAccountId" resultType="com.lanxi.consumeLoan.entity.SystemAccount" resultMap="systemAccountMap" >
		select
			account_id,brokerage,provisions_of_risk,service_charge,brokerage_rate,provisions_of_risk_rate,service_charge_rate,provisions_of_risk_max
		from system_account
		<where>
			AND account_id=#{accountId}
		</where>
	</select>
	<resultMap id="systemAccountMap" type="com.lanxi.consumeLoan.entity.SystemAccount">
		<result property="accountId" 			column="account_id"></result>
		<result property="brokerage" 			column="brokerage"></result>
		<result property="provisionsOfRisk" 			column="provisions_of_risk"></result>
		<result property="serviceCharge" 			column="service_charge"></result>
		<result property="brokerageRate" 			column="brokerage_rate"></result>
		<result property="provisionsOfRiskRate" 			column="provisions_of_risk_rate"></result>
		<result property="serviceChargeRate" 			column="service_charge_rate"></result>
		<result property="provisionsOfRiskMax" 			column="provisions_of_risk_max"></result>
	</resultMap>
</mapper>
