<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.consumeLoan.dao.UserDao">
	<insert id="addUser" parameterType="com.lanxi.consumeLoan.entity.User">
		insert into user
		(phone,role_name,attributes)
		values
		(
			#{phone},#{roleName},#{attributes}
		)
	</insert>
	<delete id="deleteUserByClass" parameterType="com.lanxi.consumeLoan.entity.User">
		delete from user
		<where>
			<if test="phone != null"> and phone = #{phone}  </if>
			<if test="roleName != null"> and role_name = #{roleName}  </if>
			<if test="attributes != null"> and attributes = #{attributes}  </if>
		</where>
	</delete>
	<delete id="deleteUserByUniqueIndexOnPhone">
		delete from user
		<where>
			AND phone = #{phone}
		</where>
	</delete>
	<update id="updateUserByClass">
		update user
		<set>
			phone=#{user.phone},
			role_name=#{user.roleName},
			attributes=#{user.attributes}
		</set>
		<where>
			<if test="param.phone != null"> AND phone = #{param.phone}</if>
			<if test="param.roleName != null"> AND role_name = #{param.roleName}</if>
			<if test="param.attributes != null"> AND attributes = #{param.attributes}</if>
		</where>
	</update>
	<update id="updateUserByUniqueIndexOnPhone">
		update user
		<set>
			phone=#{user.phone},
			role_name=#{user.roleName},
			attributes=#{user.attributes}
		</set>
		<where>
			AND phone=#{phone}
		</where>
	</update>
	<select id="selectUserByClass" resultMap="userMap"  resultType="com.lanxi.consumeLoan.entity.User" parameterType="com.lanxi.consumeLoan.entity.User">
		select
			phone,role_name,attributes
		from user
		<where>
			<if test="phone != null"> AND phone = #{phone}</if>
			<if test="roleName != null"> AND role_name = #{roleName}</if>
			<if test="attributes != null"> AND attributes = #{attributes}</if>
		</where>
	</select>
	<select id="selectUserByUniqueIndexOnPhone" resultType="com.lanxi.consumeLoan.entity.User" resultMap="userMap" >
		select
			phone,role_name,attributes
		from user
		<where>
			AND phone=#{phone}
		</where>
	</select>
	
	   <select id="selectUserByAttibute" resultType="com.lanxi.consumeLoan.entity.User" resultMap="userMap" >
        select
            phone,role_name,attributes
        from user
        <where>
            attributes like #{attribute}
        </where>
            ORDER BY role_name
    </select>
	
	<resultMap id="userMap" type="com.lanxi.consumeLoan.entity.User">
		<result property="phone" 			column="phone"></result>
		<result property="roleName" 			column="role_name"></result>
		<result property="attributes" 			column="attributes"></result>
	</resultMap>		 
</mapper>
